{% extends 'layouts.main' %}

{% set subtitle = trans('messages.auth.login') %}

{% block body %}
    <section id="app" class="container-app container-app-standalone">
        <a class="logo" href="{{ route('home') }}">
            <img class="img-responsive" src="{{ asset('images/logo.png') }}" alt="{{ title }}">
        </a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="icon-login"></i>
                    {{ subtitle }}
                </h3>
            </div>
            <form action="{{ route('login') }}" method="post">
                {{ csrf_field() }}

                <div class="panel-body">
                    <div class="form-group {{ errors.has('username_or_email') ? 'has-error' }}">
                        <label class="control-label required" for="username_or_email">
                            {{ trans('validation.attributes.username_or_email') }}
                        </label>
                        <input id="username_or_email"
                               class="form-control input-lg"
                               type="text"
                               name="username_or_email"
                               value="{{ old('username_or_email') }}"
                               placeholder="{{ trans('validation.attributes.username_or_email') }}" required>
                        {% if errors.has('username_or_email') %}
                            <span class="help-block">
                                <strong>{{ errors.first('username_or_email') }}</strong>
                            </span>
                        {% endif %}
                    </div>
                    <div class="form-group {{ errors.has('password') ? 'has-error' }}">
                        <label class="control-label required" for="password">
                            {{ trans('validation.attributes.password') }}
                        </label>
                        <input id="password"
                               class="form-control input-lg"
                               type="password"
                               name="password"
                               placeholder="{{ trans('validation.attributes.password') }}" required>
                        {% if errors.has('password') %}
                            <span class="help-block">
                                <strong>{{ errors.first('password') }}</strong>
                            </span>
                        {% endif %}
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember"  {{ old('remember', true) ? 'checked' }}>
                            {{ trans('validation.attributes.remember') }}
                        </label>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-info btn-lg btn-block" type="submit">
                        {{ subtitle }}
                    </button>
                </div>
                <div class="panel-footer text-center">
                    <p>
                        <a href="{{ route('password.request') }}">
                            {{ trans('messages.auth.forgot') }}
                        </a>
                    </p>
                    <p>
                        {{ trans('messages.auth.dont_have') }}
                        <a href="{{ route('register') }}">
                            {{ trans('messages.auth.register') }}
                        </a>
                    </p>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include('partials.flash') %}
{% endblock %}
