<cargo :is-enabled="isEnabled && isSelectedTab('cargo')"
       url="{{ route('api_mission') }}"
       store-url="{{ route('api_mission_store', '__mission__') }}" inline-template>
    <div v-if="isEnabled" class="cargo">
        <div class="cargo-summary modal-body separator text-center">
            <span v-for="resource in data.resources"
                  class="item item-sm"
                  :class="resource | item('resource')"
                  v-popover="{placement: 'top', trigger: 'hover', title: resource.name, content: resource.quantity}">
                {{ vue('resource.quantity | number') }}
            </span>
            <span class="item item-sm solarion"
                  v-popover="{placement: 'top', trigger: 'hover', title: '{{ trans('messages.solarion.name') }}', content: data.solarion}">
                {{ vue('data.solarion | number') }}
            </span>
        </div>
        <div v-if="isEmpty" class="modal-body separator">
            <p class="text-center">
                {{ trans('messages.mission.empty') }}
            </p>
        </div>
        <completion v-else v-for="mission in data.missions"
                    :key="mission.id"
                    :completion="mission"
                    :is-completable="isCompletable"
                    :store="store" inline-template>
            <div class="modal-body separator">
                <div class="row">
                    <div class="col-md-6">
                        <span v-for="resource in completion.resources"
                              class="item item-sm"
                              :class="resource | item('resource')"
                              v-popover="{placement: 'top', trigger: 'hover', title: resource.name, content: resource.quantity}">
                            {{ vue('resource.quantity | number') }}
                        </span>
                    </div>
                    <div class="col-md-3 text-center">
                        <h4>
                            <i class="icon-time"></i>
                        </h4>
                        <h4>
                            {{ vue('remaining | timer') }}
                        </h4>
                    </div>
                    <div class="col-md-3 text-center">
                        <ul class="list-inline">
                            <li v-popover="{placement: 'top', trigger: 'hover', content: '{{ trans('validation.attributes.experience') }}'}">
                                <i class="icon-xp"></i>
                                {{ vue('completion.experience | number | sign(completion.experience)') }}
                            </li>
                            <li class="highlight-warning"
                                v-popover="{placement: 'top', trigger: 'hover', content: '{{ trans('validation.attributes.energy') }}'}">
                                <i class="icon-energy"></i>
                                {{ vue('completion.energy | number| sign(completion.energy)') }}
                            </li>
                        </ul>
                        <button class="btn btn-success btn-block"
                                :disabled="!isCompletable(completion)"
                                @click="store(completion)">
                            {{ trans('messages.complete') }}
                        </button>
                    </div>
                </div>
            </div>
        </completion>
    </div>
</cargo>
