<completion-log :is-enabled="isEnabled && isSelectedTab('expedition-log')"
                url="{{ route('api_expedition_log') }}" inline-template>
    <div v-if="isEnabled" class="expedition-log">
        <div v-if="isEmpty" class="modal-body separator">
            <p class="text-center">
                {{ trans('messages.expedition_log.empty') }}
            </p>
        </div>
        <template v-else>
            <div v-for="expedition_log in data.data" class="modal-body separator">
                <div class="row">
                    <div class="col-md-6">
                        <span class="item item-sm star">
                            {{ vue('expedition_log.star') }}
                        </span>
                        <span v-for="unit in expedition_log.units"
                              class="item item-sm"
                              :class="unit | item('unit')"
                              v-popover="{placement: 'top', trigger: 'hover', title: unit.name, content: unit.quantity}">
                            {{ vue('unit.quantity | number') }}
                        </span>
                    </div>
                    <div class="col-md-2 text-center">
                        <h4>
                            <i class="icon-time"></i>
                        </h4>
                        <h4>
                            {{ vue('expedition_log.created_at | fromNow') }}
                        </h4>
                    </div>
                    <div class="col-md-2 text-center">
                        <h4>
                            <i class="icon-xp"></i>
                        </h4>
                        <h4>
                            {{ vue('expedition_log.experience | number') }}
                        </h4>
                    </div>
                    <div class="col-md-2 text-center highlight-warning">
                        <h4>
                            <i class="icon-solarion"></i>
                        </h4>
                        <h4>
                            {{ vue('expedition_log.solarion | number') }}
                        </h4>
                    </div>
                </div>
            </div>
            <div v-if="hasPrev || hasNext" class="modal-footer">
                <ul class="pager">
                    <li class="previous" :class="{disabled: !hasPrev}">
                        <a href="#" @click.prevent="prevPage()">
                            <i class="icon-arrow-left"></i>
                        </a>
                    </li>
                    <li class="next" :class="{disabled: !hasNext}">
                        <a href="#" @click.prevent="nextPage()">
                            <i class="icon-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </template>
    </div>
</completion-log>
