<message url="{{ route('api_message_store') }}" inline-template>
    <div class="setting modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        {{ trans('messages.message.singular') }}
                    </h4>
                </div>
                <form method="post" @submit.prevent="submit()" novalidate>
                    <div class="panel-body">
                        <div class="form-group" :class="{'has-error': hasError('recipient')}">
                            <label class="control-label required" for="recipient">
                                {{ trans('validation.attributes.recipient') }}
                            </label>
                            <input id="recipient"
                                   class="form-control input-lg"
                                   type="text"
                                   name="recipient"
                                   :value="form.recipient"
                                   placeholder="{{ trans('validation.attributes.recipient') }}" disabled>
                            <span v-if="hasError('recipient')" class="help-block">
                                <strong>{{ vue("error('recipient')") }}</strong>
                            </span>
                        </div>
                        <div class="form-group" :class="{'has-error': hasError('message')}">
                            <label class="control-label required" for="message">
                                {{ trans('validation.attributes.message') }}
                            </label>
                            <textarea id="message"
                                      class="form-control input-lg"
                                      name="message"
                                      rows="6"
                                      v-model="form.message"
                                      placeholder="{{ trans('validation.attributes.message') }}" required></textarea>
                            <span v-if="hasError('message')" class="help-block">
                                <strong>{{ vue("error('message')") }}</strong>
                            </span>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-info btn-lg btn-block" type="submit">
                            {{ trans('messages.message.send') }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</message>
