<completion-log :is-enabled="isEnabled && isSelectedTab('mission-log')"
                url="{{ route('api_mission_log') }}" inline-template>
    <div v-if="isEnabled" class="mission-log">
        <div v-if="isEmpty" class="modal-body separator">
            <p class="text-center">
                {{ trans('messages.mission_log.empty') }}
            </p>
        </div>
        <template v-else>
            <div v-for="mission_log in data.data" class="modal-body separator">
                <div class="row">
                    <div class="col-md-6">
                        <span v-for="resource in mission_log.resources"
                              class="item item-sm"
                              :class="resource | item('resource')"
                              v-popover="{placement: 'top', trigger: 'hover', title: resource.name, content: resource.quantity}">
                            {{ vue('resource.quantity | number') }}
                        </span>
                    </div>
                    <div class="col-md-2 text-center">
                        <h4>
                            <i class="icon-time"></i>
                        </h4>
                        <h4>
                            {{ vue('mission_log.created_at | fromNow') }}
                        </h4>
                    </div>
                    <div class="col-md-2 text-center">
                        <h4>
                            <i class="icon-xp"></i>
                        </h4>
                        <h4>
                            {{ vue('mission_log.experience | number') }}
                        </h4>
                    </div>
                    <div class="col-md-2 text-center highlight-warning">
                        <h4>
                            <i class="icon-energy"></i>
                        </h4>
                        <h4>
                            {{ vue('mission_log.energy | number') }}
                        </h4>
                    </div>
                </div>
            </div>
            <div v-if="hasPrev || hasNext" class="modal-footer">
                <ul class="pager">
                    <li class="previous" :class="{disabled: !hasPrev}">
                        <a href="#" @click.prevent="prevPage()">
                            <i class="icon-arrow-left"></i>
                        </a>
                    </li>
                    <li class="next" :class="{disabled: !hasNext}">
                        <a href="#" @click.prevent="nextPage()">
                            <i class="icon-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </template>
    </div>
</completion-log>
