<player url="{{ route('api_user') }}" inline-template>
    <div class="player">
        <div class="player-info">
            <div class="player-left" v-cloak>
                <a href="#" @click.prevent="openUser()">
                    <img class="player-avatar"
                         :src="data.gravatar"
                         :alt="data.username">
                </a>
                <div class="player-level"
                     v-popover="{placement: 'left', trigger: 'hover', content: '{{ trans('validation.attributes.level') }}'}">
                    <i class="icon-star"></i>
                    {{ vue('data.level | number') }}
                </div>
            </div>
            <div class="player-right" v-cloak>
                <div class="player-nav">
                    <ul class="nav nav-pills nav-justified">
                        <li :class="{unread: hasUnread}">
                            <a href="#" @click.prevent="openMailbox()">
                                <i class="icon-envelope"></i>
                                <span class="notification">
                                    {{ vue('data.notification_count') }}
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#" @click.prevent="openSetting()">
                                <i class="icon-cog"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ route('logout') }}">
                                <i class="icon-power-off"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="player-progress">
                    <div class="progress"
                         v-popover="{placement: 'left', trigger: 'hover', title: '{{ trans('validation.attributes.experience') }}', content: experienceLabel}">
                        <div class="progress-bar progress-bar-info" :style="{width: experienceProgress}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-energy"
             v-popover="{placement: 'bottom', trigger: 'hover', title: '{{ trans('validation.attributes.energy') }}', content: energyValue}"
             v-cloak>
            <i class="icon-energy"></i>
            {{ vue('energy | number') }}
        </div>
    </div>
</player>
