<leaderboard :is-enabled="isEnabled && isSelectedTab('pvp')"
             :open-after-hidden="openAfterHidden"
             url="{{ route('api_user_trophy_pvp') }}" inline-template>
    <div v-if="isEnabled" class="pvp">
        <div v-if="isEmpty" class="modal-body separator">
            <p class="text-center">
                {{ trans('messages.user.empty') }}
            </p>
        </div>
        <template v-else>
            <div class="table-responsive separator">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            {{ trans('validation.attributes.username') }}
                        </th>
                        <th class="text-center">
                            {{ trans('validation.attributes.planet') }}
                        </th>
                        <th class="text-center">
                            {{ trans('validation.attributes.winning_battle') }}
                        </th>
                        <th class="text-center">
                            {{ trans('validation.attributes.losing_battle') }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(user, index) in data.data">
                        <td>
                            {{ vue('rank(index)') }}
                        </td>
                        <td>
                            <a href="#" @click.prevent="openUser(user.username)">
                                {{ vue('user.username') }}
                            </a>
                        </td>
                        <td class="text-center">
                            {{ vue('user.planet_count | number') }}
                        </td>
                        <td class="text-center highlight-success">
                            {{ vue('user.winning_battle_count | number') }}
                        </td>
                        <td class="text-center highlight-danger">
                            {{ vue('user.losing_battle_count | number') }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div v-if="hasPrev || hasNext" class="modal-footer">
                <ul class="pager">
                    <li class="previous" :class="{disabled: !hasPrev}">
                        <a href="#" @click.prevent="prevPage()">
                            <i class="icon-arrow-left"></i>
                        </a>
                    </li>
                    <li class="next" :class="{disabled: !hasNext}">
                        <a href="#" @click.prevent="nextPage()">
                            <i class="icon-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </template>
    </div>
</leaderboard>
