<div class="row">
    <div class="col-md-6 text-center">
        <span class="item" :class="resource | item('resource')"></span>
    </div>
    <div class="col-md-6">
        <h4>
            {{ vue('resource.name') }}
        </h4>
        <p>
            {{ vue('resource.description') }}
        </p>
        <div class="attribute-row">
            <div class="col-md-6">
                <div class="attribute">
                    <h6>
                        {{ trans('validation.attributes.frequency') }}
                    </h6>
                    <h4>
                        {{ vue('resource.frequency | percent') }}
                    </h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="attribute">
                    <h6>
                        {{ trans('validation.attributes.efficiency') }}
                    </h6>
                    <h4>
                        {{ vue('resource.efficiency | percent') }}
                    </h4>
                </div>
            </div>
        </div>
        <ul v-if="isResearch" class="list-inline">
            <li v-popover="{placement: 'top', trigger: 'hover', content: '{{ trans('validation.attributes.research_experience') }}'}">
                <i class="icon-xp"></i>
                {{ vue('unit.research_experience | number') }}
            </li>
            <li class="highlight-warning"
                v-popover="{placement: 'top', trigger: 'hover', content: '{{ trans('validation.attributes.research_cost') }}'}">
                <i class="icon-energy"></i>
                {{ vue('unit.research_cost | number') }}
            </li>
            <li v-popover="{placement: 'top', trigger: 'hover', content: '{{ trans('validation.attributes.research_time') }}'}">
                <i class="icon-time"></i>
                {{ vue('unit.research_time | timer') }}
            </li>
        </ul>
        <ul v-else class="list-inline">
            <li v-popover="{placement: 'top', trigger: 'hover', content: '{{ trans('validation.attributes.transmute_time') }}'}">
                <i class="icon-time"></i>
                {{ trans('messages.instant') }}
            </li>
        </ul>
        <div v-if="remaining" class="attribute-row">
            <div class="col-lg-6">
                <div class="form-group">
                    <button class="btn btn-warning btn-block" @click="destroy()">
                        {{ trans('messages.cancel') }}
                    </button>
                </div>
            </div>
            <div class="col-lg-6">
                <h4>{{ vue('remaining | timer') }}</h4>
            </div>
        </div>
        <div v-else-if="isResearch" class="attribute-row">
            <div class="col-lg-6">
                <div class="form-group">
                    <button class="btn btn-success btn-block" @click="store()" :disabled="!isResearchable(resource)">
                        {{ trans('messages.research.singular') }}
                    </button>
                </div>
            </div>
        </div>
        <div v-else class="attribute-row">
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control"
                               type="number"
                               min="1"
                               :max="transmutableQuantity"
                               :placeholder="transmutableQuantity | bracket"
                               v-model.number="quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success btn-block" @click="store()" :disabled="!isTransmutable">
                                {{ trans('messages.transmute') }}
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <h4 class="highlight-warning">
                    <i class="icon-energy"></i>
                    {{ vue('transmutableEnergy | number | sign(transmutableEnergy)') }}
                </h4>
            </div>
        </div>
    </div>
</div>
