<shield :is-enabled="isEnabled && isSelectedTab('shield')"
        url="{{ route('api_shield') }}"
        store-url="{{ route('api_shield_store', '__planet__') }}"
        :close="close"
        :planets="data.planets" inline-template>
    <div v-if="isEnabled" class="shield">
        <div class="shield-form modal-body separator">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <ul class="list-inline">
                        <li>
                            {{ trans_choice('messages.shield.time', shield_expiration(), {'value': shield_expiration()}) }}
                        </li>
                        <li class="highlight-warning"
                            v-popover="{placement: 'top', trigger: 'hover', content: '{{ trans('messages.solarion.name') }}'}">
                            <i class="icon-solarion"></i>
                            {{ constant('Koodilab\\Models\\Shield::SOLARION_COUNT') }}
                        </li>
                    </ul>
                    <div class="input-group">
                        <select class="form-control"
                                v-model="selected"
                                :disabled="!data.canStore">
                            <option :value="planet.id" v-for="planet in planets">
                                {{ vue('planet.name') }}
                            </option>
                        </select>
                        <div class="input-group-btn">
                            <button class="btn btn-success"
                                    :disabled="!data.canStore"
                                    @click="store()">
                                {{ trans('messages.shield.add') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="isEmpty" class="modal-body separator">
            <p class="text-center">
                {{ trans('messages.shield.empty') }}
            </p>
        </div>
        <completion v-else v-for="shield in data.shields"
                    :key="shield.id"
                    :completion="shield"
                    :is-completable="{{ app.request.route.getName == 'starmap'
                        ? 'true'
                        : 'false' }}"
                    :store="move" inline-template>
            <div class="modal-body separator shield-item">
                <div class="row">
                    <div class="col-md-6">
                        <span class="item item-sm" :class="completion.planet.resource_id | item('planet')">
                            {{ vue('completion.planet.name') }}
                        </span>
                    </div>
                    <div class="col-md-3 text-center">
                        <h4>
                            <i class="icon-time"></i>
                        </h4>
                        <h4>
                            {{ vue('remaining | timer') }}
                        </h4>
                    </div>
                    <div class="col-md-3 text-center">
                        <button class="btn btn-info btn-block"
                                :disabled="!isCompletable"
                                @click="store(completion)">
                            {{ trans('messages.move') }}
                        </button>
                    </div>
                </div>
            </div>
        </completion>
    </div>
</shield>
