{% extends 'site.layouts.base' %}

{% import 'site.partials.helpers' as helpers %}

{% block body %}
    <section id="site" class="container-site">
        <sidebar planet-url="{{ route('api_planet') }}"
                 planet-name-url="{{ route('api_planet_name') }}"
                 user-current-url="{{ route('api_user_current', '__planet__') }}"
                 inline-template>
            <div class="sidebar" :class="{active: isActive}">
                <div class="sidebar-content perfect-scrollbar">
                    <div class="sidebar-block" v-cloak>
                        <input v-if="isEditActive" class="form-control"
                               v-model="name"
                               ref="name"
                               :placeholder="data.name"
                               @blur="renamePlanet()"
                               @keyup.13="renamePlanet()">
                        <div v-else class="input-group">
                            <select class="form-control" v-model="selected">
                                <option :value="planet.id" v-for="planet in data.planets">
                                    {{ helpers.vue('planet.name') }}
                                </option>
                            </select>
                            <div class="input-group-btn">
                                <a class="btn btn-success" href="#" @click.prevent="toggleEdit()">
                                    <i class="icon-edit"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-block" v-cloak>
                        <div class="attribute-row">
                            <div class="col-xs-6">
                                <div class="attribute">
                                    <h6>
                                        {{ trans('validation.attributes.mining_rate') }}
                                    </h6>
                                    <h4>
                                        {{ helpers.vue('data.mining_rate') }}
                                    </h4>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="attribute">
                                    <h6>
                                        {{ trans('validation.attributes.production_rate') }}
                                    </h6>
                                    <h4>
                                        {{ helpers.vue('data.production_rate') }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="attribute-row">
                            <div class="col-xs-6">
                                <div class="attribute">
                                    <h6>
                                        {{ trans('validation.attributes.incoming') }}
                                    </h6>
                                    <h4>
                                        {{ helpers.vue('data.incoming_movement') }}
                                    </h4>
                                    <h4 class="highlight-danger">
                                        {{ helpers.vue('data.incoming_attack_movement') }}
                                    </h4>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="attribute">
                                    <h6>
                                        {{ trans('validation.attributes.outgoing') }}
                                    </h6>
                                    <h4>
                                        {{ helpers.vue('data.outgoing_movement') }}
                                    </h4>
                                    <h4 class="highlight-warning">
                                        {{ helpers.vue('data.outgoing_attack_movement') }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="attribute-row">
                            <div class="col-xs-6">
                                <div class="attribute">
                                    <h6>
                                        {{ trans('validation.attributes.construction') }}
                                    </h6>
                                    <h4>
                                        {{ helpers.vue('data.construction') }}
                                    </h4>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="attribute">
                                    <h6>
                                        {{ trans('validation.attributes.upgrade') }}
                                    </h6>
                                    <h4>
                                        {{ helpers.vue('data.upgrade') }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="attribute-row">
                            <div class="col-xs-12">
                                <div class="attribute">
                                    <h6>
                                        {{ trans('validation.attributes.training') }}
                                    </h6>
                                    <h4>
                                        {{ helpers.vue('data.training') }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-block" v-cloak>
                        <div class="progress"
                             title="{{ trans('messages.resource.plural') }}"
                             :data-content="resourceLabel"
                             v-popover="{trigger: 'hover'}">
                            <div class="progress-bar"
                                 :class="{'progress-bar-success': !isResourceFull, 'progress-bar-danger': isResourceFull}"
                                 :style="{width: resourceProgress}"></div>
                        </div>
                        <div class="item-row">
                            <div class="col-xs-3" v-for="resource in data.resources">
                                <span class="item item-sm" :class="resourceClass(resource)"
                                      :title="resource.name"
                                      :data-content="resource.description"
                                      v-popover="{trigger: 'hover'}">
                                    {{ helpers.vue('resourceValue(resource)') }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-block" v-cloak>
                        <div class="progress progress-unit"
                             title="{{ trans('messages.unit.plural') }}"
                             :data-content="unitLabel"
                             v-popover="{trigger: 'hover'}">
                            <div class="progress-bar progress-bar-success"
                                 :class="{'progress-bar-success': !isUnitFull, 'progress-bar-danger': isUnitFull}"
                                 :style="{width: unitProgress}"></div>
                            <div class="progress-bar progress-bar-warning"
                                 :style="{width: unitTrainingProgress}"></div>
                        </div>
                        <div class="item-row">
                            <div class="col-xs-3" v-for="unit in data.units">
                                <span class="item item-sm" :class="unitClass(unit)"
                                      :title="unit.name"
                                      :data-content="unit.description"
                                      v-popover="{trigger: 'hover'}">
                                    {{ helpers.vue('unit.quantity') }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-nav">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="#" @click.prevent="toggle()">
                                <i :class="{'icon-nav': !isActive, 'icon-close': isActive}"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-surface"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-starmap"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-mothership"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-trophy"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </sidebar>
        <player url="{{ route('api_user') }}" inline-template>
            <div class="player">
                <div class="player-info" v-cloak>
                    <div class="player-left">
                        <img class="player-avatar" :src="data.gravatar" :alt="data.username">
                        <div class="player-level">
                            <i class="icon-star"></i>
                            {{ helpers.vue('data.level') }}
                        </div>
                    </div>
                    <div class="player-right">
                        <div class="player-nav">
                            <ul class="nav nav-pills nav-justified">
                                <li :class="{unread: hasUnread}">
                                    <a href="#">
                                        <i class="icon-envelope"></i>
                                        <span class="notification"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-cog"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ route('logout') }}">
                                        <i class="icon-power-off"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="player-progress">
                            <div class="progress"
                                 title="{{ trans('validation.attributes.experience') }}"
                                 :data-content="experienceLabel"
                                 v-popover="{placement: 'left', trigger: 'hover'}">
                                <div class="progress-bar progress-bar-info" :style="{width: experienceProgress}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="player-energy" v-cloak>
                    <i class="icon-energy"></i>
                    {{ helpers.vue('energyValue') }}
                </div>
            </div>
        </player>
        {% block content %}{% endblock %}
    </section>
{% endblock %}
