{% extends 'site.layouts.base' %}

{% import 'site.partials.helpers' as helpers %}

{% block body %}
    <section id="site" class="container-site">
        <sidebar planet-url="{{ route('api_planet_current') }}"
                 user-url="{{ route('api_user_current', '__planet__') }}"
                 name-url="{{ route('api_planet_name') }}" inline-template>
            <div class="sidebar" :class="{active: isActive}">
                <div class="sidebar-content">
                    <div class="sidebar-block">
                        <input v-if="isEditActive" class="form-control"
                               v-model="name"
                               ref="name"
                               :placeholder="data.name"
                               @blur="renamePlanet()"
                               @keyup.13="renamePlanet()">
                        <div v-else class="input-group">
                            <select class="form-control" v-model="selected">
                                <option :value="planet.id" v-for="planet in data.planets">
                                    {{ helpers.vue('planet.name') }}
                                </option>
                            </select>
                            <div class="input-group-btn">
                                <a class="btn btn-success" href="#" @click.prevent="toggleEdit()">
                                    <i class="icon-edit"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-nav">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a href="#" @click.prevent="toggle()">
                                <i :class="{'icon-nav': !isActive, 'icon-close': isActive}"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-surface"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-starmap"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-mothership"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-trophy"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </sidebar>
        <player inline-template>
            <div class="player">
                <div class="player-info">
                    <div class="player-left">
                        <img class="player-avatar" src="{{ auth_user().gravatar({'s': 100}) }}" alt="{{ auth_user().username }}">
                        <div class="player-level">
                            <i class="icon-star"></i>
                            {{ auth_user().level }}
                        </div>
                    </div>
                    <div class="player-right">
                        <div class="player-nav">
                            <ul class="nav nav-pills nav-justified">
                                <li>
                                    <a href="#">
                                        <i class="icon-envelope"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-cog"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ route('logout') }}">
                                        <i class="icon-power-off"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="player-progress">
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" style="width: 60%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="player-energy">
                    <i class="icon-energy"></i>
                    36
                </div>
            </div>
        </player>
        {% block content %}{% endblock %}
    </section>
{% endblock %}
