<construction url="{{ route('api_construction', '__grid__') }}"
              store-url="{{ route('api_construction_store', ['__grid__', '__building__']) }}"
              destroy-url="{{ route('api_construction_destroy', '__grid__') }}" inline-template>
    <div class="construction modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        {{ trans('messages.construction.singular') }}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="tab-content" v-if="data.buildings.length">
                        <div v-for="building in data.buildings" class="tab-pane" :class="{active: isSelected(building)}">
                            {% include 'surface.building' %}
                        </div>
                    </div>
                </div>
                <div class="modal-body separator">
                    <ul class="nav nav-pills">
                        <li v-for="building in data.buildings" :class="{active: isSelected(building)}">
                            <a href="#" @click.prevent="select(building)">
                                <span class="item item-sm" :class="building | item('building')">
                                    {{ vue('building.name') }}
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</construction>
