<scout :type="{{ constant('Koodilab\\Models\\Building::TYPE_SCOUT') }}"
          :building="building"
          :grid="grid"
          url="{{ route('api_scout', '__grid__') }}" inline-template>
    <div v-if="isEnabled" class="scout">
        <div v-if="isEmpty" class="modal-body separator">
            <p class="text-center">
                {{ trans('messages.movement.empty') }}
            </p>
        </div>
        <template v-else>
            <movement v-for="movement in data.incoming_movements"
                      :key="movement.id"
                      :movement="movement" inline-template>
                <div class="modal-body separator">
                    <div class="row">
                        <div class="col-md-6">
                            <span v-for="unit in movement.units"
                                  class="item item-sm"
                                  :class="unit | item('unit')"
                                  v-popover="{placement: 'top', trigger: 'hover', title: unit.name, content: unit.quantity}">
                                {{ vue('unit.quantity | number') }}
                            </span>
                            <span v-for="resource in movement.resources"
                                  class="item item-sm"
                                  :class="resource | item('resource')"
                                  v-popover="{placement: 'top', trigger: 'hover', title: resource.name, content: resource.quantity}">
                                {{ vue('resource.quantity | number') }}
                            </span>
                        </div>
                        <div class="col-md-3 text-center">
                            <h4 class="highlight-success" :class="{'highlight-danger': movement.type < 3}">
                                <i class="icon-arrow-left"></i>
                            </h4>
                            <h4>
                                {{ vue('remaining | timer') }}
                            </h4>
                        </div>
                        <div class="col-md-3 text-center">
                            <span class="item item-sm" :class="movement.start.resource_id | item('planet')">
                                {{ vue('movement.start.display_name') }}
                            </span>
                        </div>
                    </div>
                </div>
            </movement>
            <movement v-for="movement in data.outgoing_movements"
                      :key="movement.id"
                      :movement="movement" inline-template>
                <div class="modal-body separator">
                    <div class="row">
                        <div class="col-md-6">
                            <span v-for="unit in movement.units"
                                  class="item item-sm"
                                  :class="unit | item('unit')"
                                  v-popover="{placement: 'top', trigger: 'hover', title: unit.name, content: unit.quantity}">
                                {{ vue('unit.quantity | number') }}
                            </span>
                            <span v-for="resource in movement.resources"
                                  class="item item-sm"
                                  :class="resource | item('resource')"
                                  v-popover="{placement: 'top', trigger: 'hover', title: resource.name, content: resource.quantity}">
                                {{ vue('resource.quantity | number') }}
                            </span>
                        </div>
                        <div class="col-md-3 text-center">
                            <h4 class="highlight-success" :class="{'highlight-warning': movement.type < 3}">
                                <i class="icon-arrow-right"></i>
                            </h4>
                            <h4>
                                {{ vue('remaining | timer') }}
                            </h4>
                        </div>
                        <div class="col-md-3 text-center">
                            <span class="item item-sm" :class="movement.end.resource_id | item('planet')">
                                {{ vue('movement.end.display_name') }}
                            </span>
                        </div>
                    </div>
                </div>
            </movement>
        </template>
    </div>
</scout>
