{% extends 'admin.layouts.main' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">
        {{ trans('messages.home') }}
    </li>
{% endblock %}

{% block content %}
    <overview url="{{ route('admin_home_overview_data') }}" inline-template>
        <div class="panel panel-default overview">
            <div v-if="isLoading" class="indicator-overlay"></div>
            <div v-if="isLoading" class="icon-cog icon-spin indicator"></div>

            <div class="panel-heading panel-heading-nav">
                <h3 class="panel-title">
                    <i class="icon-eye"></i>
                    {{ trans('messages.overview') }}
                </h3>
                <ul class="nav nav-pills" v-cloak>
                    <li>
                        <a href="#"
                           @click.prevent="fetchData()"
                           data-title="{{ trans('messages.refresh') }}"
                           data-trigger="hover" v-tooltip>
                            <i class="icon-refresh"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="panel-body" v-cloak>
                <div class="row">
                    <div v-for="item in data.items"
                         class="col-md-3 col-lg-2"
                         :class="{success: item.is_success, info: item.is_info, danger: item.is_danger}">
                        <h1>{{ vue('item.count') }}</h1>
                        <p class="help-block">
                            {{ vue('item.name') }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </overview>
{% endblock %}
