{% extends 'admin.layouts.main' %}

{% set subtitle = trans('messages.profile.edit') %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ route('admin_profile_edit') }}">
            {{ trans('messages.profile.singular') }}
        </a>
    </li>
    <li class="active">
        {{ subtitle }}
    </li>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="icon-user"></i>
                {{ subtitle }}
            </h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal"
                  method="post"
                  action="{{ route('admin_profile_update')}}">
                {{ csrf_field() }}
                {{ method_field('PUT') }}

                <div class="form-group {{ errors.has('email') ? 'has-error' }}">
                    <label class="col-md-2 control-label required" for="email">
                        {{ trans('validation.attributes.email') }}
                    </label>
                    <div class="col-md-10">
                        <input id="email"
                               class="form-control"
                               type="email"
                               name="email"
                               value="{{ old('email', auth_user().email) }}"
                               placeholder="{{ trans('validation.attributes.email') }}" required>
                        {% if errors.has('email') %}
                            <span class="help-block">
                                <strong>{{ errors.first('email') }}</strong>
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group {{ errors.has('password') ? 'has-error' }}">
                    <label class="col-md-2 control-label" for="password">
                        {{ trans('validation.attributes.password') }}
                    </label>
                    <div class="col-md-10">
                        <input id="password"
                               class="form-control"
                               type="password"
                               name="password"
                               placeholder="{{ trans('validation.attributes.password') }}">
                        {% if errors.has('password') %}
                            <span class="help-block">
                                <strong>{{ errors.first('password') }}</strong>
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-2">
                        <button class="btn btn-success" type="submit">
                            {{ trans('messages.save') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include('admin.partials.flash') %}
{% endblock %}
