{% extends 'admin.layouts.base' %}

{% block body %}
    <section id="admin" class="main">
        <div class="main-body active" :class="{ active: isSidebarActive }">
            <section class="sidebar">
                <a class="sidebar-heading logo" href="{{ route('admin_home') }}">
                    GoD Online
                    <span>Admin</span>
                </a>
                <div class="sidebar-body" ref="sidebar">
                    <div id="sidebar-accordion" class="panel-group">
                        {% set route_name = app.request.route.getName %}

                        {% embed 'admin.partials.accordion' with {
                            'name': 'home',
                            'is_active': 'home' in route_name,
                        } %}
                            {% block title %}
                                <i class="icon-home"></i>
                                {{ trans('messages.home') }}
                            {% endblock %}
                            {% block nav %}
                                <li class="{{ 'home' in route_name ? 'active' }}">
                                    <a href="{{ route('admin_home') }}">
                                        <i class="icon-chevron-right"></i>
                                        {{ trans('messages.home') }}
                                    </a>
                                </li>
                            {% endblock %}
                        {% endembed %}

                        {% if can('manage', 'Koodilab\\Models\\User') %}
                            {% embed 'admin.partials.accordion' with {
                                'name': 'user',
                                'is_active': 'user' in route_name
                            } %}
                                {% block title %}
                                    <i class="icon-user"></i>
                                    {{ trans('messages.user.plural') }}
                                {% endblock %}
                                {% block nav %}
                                    <li class="{{ 'user_create' in route_name ? 'active' }}">
                                        <a href="{{ route('admin_user_create') }}">
                                            <i class="icon-chevron-right"></i>
                                            {{ trans('messages.user.create') }}
                                        </a>
                                    </li>
                                    <li class="{{ route_name ends with 'user' ? 'active' }}">
                                        <a href="{{ route('admin_user') }}">
                                            <i class="icon-chevron-right"></i>
                                            {{ trans('messages.user.plural') }}
                                        </a>
                                    </li>
                                {% endblock %}
                            {% endembed %}
                        {% endif %}

                        {% if can('manage', 'Koodilab\\Models\\Setting') %}
                            {% embed 'admin.partials.accordion' with {
                                'name': 'setting',
                                'is_active': 'setting' in route_name,
                            } %}
                                {% block title %}
                                    <i class="icon-cog"></i>
                                    {{ trans('messages.setting.plural') }}
                                {% endblock %}
                                {% block nav %}
                                    <li class="{{ 'setting_edit' in route_name ? 'active' }}">
                                        <a href="{{ route('admin_setting_edit', config('app.fallback_locale')) }}">
                                            <i class="icon-chevron-right"></i>
                                            {{ trans('messages.setting.edit') }}
                                        </a>
                                    </li>
                                {% endblock %}
                            {% endembed %}
                        {% endif %}
                    </div>
                </div>
            </section>
            <section class="content">
                <div class="content-heading">
                    <ul class="content-nav">
                        <li>
                            <a href="#" @click.prevent="toggleSidebar()">
                                <i class="icon-nav"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="content-nav content-nav-right">
                        <li>
                            <a href="{{ route('admin_profile_edit') }}">
                                <img class="img-gravatar"
                                     src="{{ auth_user().gravatar({'s': 96}) }}"
                                     alt="{{ auth_user().username }}">
                            </a>
                        </li>
                        <li>
                            <a href="{{ route('admin_profile_edit') }}">
                                <i class="icon-cog"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ route('admin_logout') }}">
                                <i class="icon-power-off"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="content-body container-fluid">
                    <ol class="breadcrumb">
                        {% block breadcrumb %}
                            <li class="breadcrumb-item">
                                <a href="{{ route('admin_home') }}">
                                    <i class="icon-home"></i>
                                </a>
                            </li>
                        {% endblock %}
                    </ol>
                    {% block content %}{% endblock %}
                </div>
            </section>
        </div>
    </section>
{% endblock %}
