<div v-if="isOccupyType" class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            &times;
        </button>
        <h4 class="modal-title">
            {{ trans('messages.movement.occupy') }}
        </h4>
    </div>
    {% include 'starmap.time' %}
    <div class="modal-body separator">
        <div class="row">
            <div class="col-md-6 text-center">
                <span class="item" :class="settlerUnit | item('unit')"></span>
            </div>
            <div class="col-md-6">
                <h4>
                    {{ vue('settlerUnit.name') }}
                </h4>
                <p>
                    {{ vue('settlerUnit.description') }}
                </p>
                <div class="attribute-row separator">
                    <div class="col-md-6">
                        <div class="attribute">
                            <h6>
                                {{ trans('messages.required_quantity') }}
                            </h6>
                            <h4>
                                {{ constant('Koodilab\\Models\\Planet::SETTLER_COUNT') }} / {{ vue('unitQuantity(settlerUnit)') }}
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="attribute-row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <button class="btn btn-success btn-block" :disabled="!canOccupy" @click="occupy()">
                                {{ trans('messages.movement.occupy') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
