<planet url="{{ route('api_planet_show', '__planet__') }}" inline-template>
    <div class="planet modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        {{ vue('properties.name') }}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <span class="item" :class="data.resource_id | item('planet')"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="attribute-row separator">
                                <div class="col-md-6">
                                    <div class="attribute">
                                        <h6>
                                            {{ trans('messages.coordinate.x') }}
                                        </h6>
                                        <h4>
                                            {{ vue('geometry.coordinates[0]') }}
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="attribute">
                                        <h6>
                                            {{ trans('messages.coordinate.y') }}
                                        </h6>
                                        <h4>
                                            {{ vue('geometry.coordinates[1]') }}
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="attribute">
                                        <h6>
                                            {{ trans('messages.resource.count') }}
                                        </h6>
                                        <h4>
                                            {{ vue('data.resource_count') }}
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="attribute">
                                        <h6>
                                            {{ trans('messages.owner') }}
                                        </h6>
                                        <h4 v-if="data.user_id">
                                            <a href="#" @click.prevent="openUser()">
                                                {{ vue('data.username') }}
                                            </a>
                                        </h4>
                                        <h4 v-else>
                                            {{ vue('data.username') }}
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div v-if="isCurrent" class="attribute-row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <a class="btn btn-info btn-block" href="{{ route('home') }}">
                                            {{ trans('messages.planet.jump') }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div v-else-if="isFriendly" class="attribute-row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <a class="btn btn-info btn-block" @click="changePlanet()">
                                            {{ trans('messages.planet.change') }}
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <button class="btn btn-success btn-block"
                                                @click="openMove({{ constant('Koodilab\\Models\\Movement::TYPE_SUPPORT') }})">
                                            {{ trans('messages.movement.support') }}
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <button class="btn btn-success btn-block"
                                                @click="openMove({{ constant('Koodilab\\Models\\Movement::TYPE_TRANSPORT') }})">
                                            {{ trans('messages.movement.transport') }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div v-else class="attribute-row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <button class="btn btn-info btn-block"
                                                :disabled="data.has_shield"
                                                @click="openMove({{ constant('Koodilab\\Models\\Movement::TYPE_SCOUT') }})">
                                            {{ trans('messages.movement.scout') }}
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <button class="btn btn-danger btn-block"
                                                :disabled="data.has_shield"
                                                @click="openMove({{ constant('Koodilab\\Models\\Movement::TYPE_ATTACK') }})">
                                            {{ trans('messages.movement.attack') }}
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <button class="btn btn-success btn-block"
                                                :disabled="data.has_shield || !data.can_occupy"
                                                @click="openMove({{ constant('Koodilab\\Models\\Movement::TYPE_OCCUPY') }})">
                                            {{ trans('messages.movement.occupy') }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</planet>
