{% extends 'admin.layouts.main' %}

{% set subtitle = trans('messages.setting.edit') %}

{% block breadcrumb %}
    {{ parent() }}
    <li>
        <a href="{{ route('admin_setting_edit', translation) }}">
            {{ trans('messages.setting.plural') }}
        </a>
    </li>
    <li class="active">
        {{ subtitle }}
    </li>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-nav">
            <h3 class="panel-title">
                <i class="icon-cog"></i>
                {{ subtitle }}
            </h3>

            {% include 'admin.partials.translation' with {
                'current': translation,
                'change_url': route('admin_setting_edit', '__translation__')
            } %}
        </div>
        <div class="panel-body">
            <form class="form-horizontal"
                  method="post"
                  action="{{ route('admin_setting_update', translation) }}">
                {{ csrf_field() }}
                {{ method_field('PUT') }}

                <div class="form-group {{ errors.has('title') ? 'has-error' }}">
                    <label class="col-md-2 control-label required" for="title">
                        {{ trans('validation.attributes.title') }}
                    </label>
                    <div class="col-md-10">
                        <input id="title"
                               class="form-control"
                               type="text"
                               name="title"
                               value="{{ old('title', setting('title', translation)) }}"
                               placeholder="{{ trans('validation.attributes.title') }}" required>
                        {% if errors.has('title') %}
                            <span class="help-block">
                                <strong>{{ errors.first('title') }}</strong>
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group {{ errors.has('description') ? 'has-error' }}">
                    <label class="col-md-2 control-label" for="description">
                        {{ trans('validation.attributes.description') }}
                    </label>
                    <div class="col-md-10">
                        <input id="description"
                               class="form-control"
                               type="text"
                               name="description"
                               value="{{ old('description', setting('description', translation)) }}"
                               placeholder="{{ trans('validation.attributes.description') }}">
                        {% if errors.has('description') %}
                            <span class="help-block">
                                <strong>{{ errors.first('description') }}</strong>
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group {{ errors.has('author') ? 'has-error' }}">
                    <label class="col-md-2 control-label" for="author">
                        {{ trans('validation.attributes.author') }}
                    </label>
                    <div class="col-md-10">
                        <input id="author"
                               class="form-control"
                               type="text"
                               name="author"
                               value="{{ old('author', setting('author', translation)) }}"
                               placeholder="{{ trans('validation.attributes.author') }}">
                        {% if errors.has('author') %}
                            <span class="help-block">
                                <strong>{{ errors.first('author') }}</strong>
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-2">
                        <button class="btn btn-success" type="submit">
                            {{ trans('messages.save') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include('admin.partials.flash') %}
{% endblock %}
