<table-view url="{{ url }}"
            history-url="{{ history_url }}"
            delete-url="{{ delete_url|default }}"
            default-sort="{{ default_sort }}"
            default-direction="{{ default_direction }}"
            :default-parameters="{{ {
                'keyword': keyword,
                'sort': sort,
                'direction': direction,
                'page': page
            }|json_encode }}"
            :translations="{{ {
                'title': trans('messages.delete'),
                'text': trans('messages.warning.delete_selected'),
                'confirm': trans('messages.yes'),
                'cancel': trans('messages.no')
            }|json_encode }}" inline-template>
    <div class="panel panel-default table-view">
        <div v-if="isLoading" class="indicator-overlay"></div>
        <div v-if="isLoading" class="icon-cog icon-spin indicator"></div>

        <div class="panel-heading panel-heading-nav">
            <h3 class="panel-title">
                {% block title %}{% endblock %}
            </h3>
            <ul class="nav nav-pills" v-cloak>
                <li class="search">
                    <input class="form-control"
                           type="text"
                           placeholder="{{ trans('messages.search') }}"
                           v-model="keyword"
                           @keyup.enter="search()">
                </li>
                <li>
                    <a href="#"
                       @click.prevent="search()"
                       data-title="{{ trans('messages.search') }}"
                       data-trigger="hover" v-tooltip>
                        <i class="icon-search"></i>
                    </a>
                </li>
                {% if create_url is defined %}
                    <li>
                        <a href="{{ create_url }}"
                           data-title="{{ trans('messages.create') }}"
                           data-trigger="hover" v-tooltip>
                            <i class="icon-create"></i>
                        </a>
                    </li>
                {% endif %}
                {% if delete_url is defined %}
                    <li>
                        <a :class="{disabled: !canDelete}"
                           href="#"
                           @click.prevent="deleteSelected()"
                           data-title="{{ trans('messages.delete') }}"
                           data-trigger="hover" v-tooltip>
                            <i class="icon-delete"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="table-responsive" v-cloak>
            <table class="table table-hover">
                <thead>
                    <tr>
                        {% block thRow %}
                            {% for name, translation in attributes %}
                                <th>
                                    {% if loop.first and delete_url is defined %}
                                        <input type="checkbox"
                                               @click="toggleAll()"
                                               :checked="isAllSelected">
                                    {% endif %}
                                    <a href="#" @click.prevent="sortBy('{{ name }}')">
                                        {{ translation }}
                                        <span v-if="isSort('{{ name }}')"
                                              class="caret"
                                              :class="{asc: isAscOrder, desc: isDescOrder}"></span>
                                    </a>
                                </th>
                            {% endfor %}
                            {% if hasActionNav is not defined or hasActionNav is not same as (false) %}
                                <th class="action-nav"></th>
                            {% endif %}
                        {% endblock %}
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="!data.data.length" class="no-items">
                        {% block tdNoItems %}
                            <td colspan="{{ hasActionNav is not defined or hasActionNav is not same as (false) ? attributes|length + 1 : attributes|length }}">
                                {{ trans('messages.no_items') }}
                            </td>
                        {% endblock %}
                    </tr>
                    <tr v-for="item in data.data" {% if delete_url is defined %}:class="{warning: isSelected(item)}" @click="select(item)"{% endif %}>
                        {% block tdRow %}
                            <td>
                                {% if delete_url is defined %}
                                    <input type="checkbox"
                                           :value="item.id"
                                           v-model.number="selected">
                                {% endif %}
                                {% block tdFirst %}{% endblock %}
                            </td>
                        {% endblock %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer" v-cloak>
            <div class="total">
                {{ trans('messages.result.show') ~ ' ' ~ vue('data.from') ~ ' - ' ~ vue('data.to') }}
                {{ trans('messages.result.total') ~ ' ' ~ vue('data.total') }}
            </div>
            <ul class="pagination">
                <li v-if="hasPrev">
                    <a href="#" @click.prevent="prevPage()">
                        <i class="icon-chevron-left"></i>
                    </a>
                </li>
                <li v-for="page in pages" :class="{active: isCurrentPage(page)}">
                    <a href="#" @click.prevent="changePage(page)">
                        {{ vue('page') }}
                    </a>
                </li>
                <li v-if="hasNext">
                    <a href="#" @click.prevent="nextPage()">
                        <i class="icon-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</table-view>
