{% extends 'layouts.main' %}

{% set subtitle = trans('messages.start') %}

{% block body %}
    <section id="app" class="container-app container-app-standalone">
        <a class="logo" href="{{ route('home') }}">
            <img class="img-fluid"
                 src="{{ asset('images/logo.png') }}"
                 alt="{{ title }}">
        </a>
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">
                    <i class="fas fa-globe-americas"></i>
                    {{ subtitle }}
                </h6>
            </div>
            {% if count %}
                <form action="{{ route('start') }}" method="post">
                    {{ csrf_field() }}

                    <div class="card-body text-center">
                        <span class="item planet-1"></span>
                        <h4>
                            {{ trans_choice('messages.planet.free', count) }}
                        </h4>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">
                            {{ trans('messages.planet.first') }}
                        </button>
                    </div>
                </form>
            {% else %}
                <div class="card-body text-center">
                    <h4>
                        {{ trans('messages.warning.server') }}
                    </h4>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
