<player url="{{ route('api_user') }}" inline-template>
    <div class="player">
        <div class="player-info" v-cloak>
            <div class="player-left">
                <a href="#" @click.prevent="openUser()">
                    <img class="player-avatar" :src="data.gravatar" :alt="data.username">
                </a>
                <div class="player-level"
                     data-content="{{ trans('validation.attributes.level') }}"
                     v-popover="{placement: 'left', trigger: 'hover'}">
                    <i class="icon-star"></i>
                    {{ vue('data.level') }}
                </div>
            </div>
            <div class="player-right">
                <div class="player-nav">
                    <ul class="nav nav-pills nav-justified">
                        <li :class="{unread: hasUnread}">
                            <a href="#" @click.prevent="openMailbox()">
                                <i class="icon-envelope"></i>
                                <span class="notification"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" @click.prevent="openSetting()">
                                <i class="icon-cog"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ route('logout') }}">
                                <i class="icon-power-off"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="player-progress">
                    <div class="progress"
                         title="{{ trans('validation.attributes.experience') }}"
                         :data-content="experienceLabel"
                         v-popover="{placement: 'left', trigger: 'hover'}">
                        <div class="progress-bar progress-bar-info" :style="{width: experienceProgress}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-energy"
             data-content="{{ trans('validation.attributes.energy') }}"
             v-popover="{placement: 'bottom', trigger: 'hover'}"
             v-cloak>
            <i class="icon-energy"></i>
            {{ vue('energy | number') }}
        </div>
    </div>
</player>
