{% extends 'admin.layouts.main' %}

{% set subtitle = trans('messages.user.plural') %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        {{ subtitle }}
    </li>
{% endblock %}

{% block content %}
    {% embed 'admin.partials.table-view' with {
        'url': route('admin_user_data'),
        'history_url': route('admin_user'),
        'create_url': route('admin_user_create'),
        'delete_url': can('destroy', 'Koodilab\\Models\\User') ? route('admin_user_destroy')
    } %}
        {% block title %}
            <i class="icon-user"></i>
            {{ subtitle }}
        {% endblock %}
        {% block tdFirst %}
            <img class="img-gravatar" :src="item.gravatar" :alt="item.username">
            {{ vue('item.username') }}
        {% endblock %}
        {% block tdRow %}
            {{ parent() }}
            <td>{{ vue('item.email') }}</td>
            <td>{{ vue('item.role') }}</td>
            <td>{{ vue('item.is_enabled') }}</td>
            <td>{{ vue('item.last_login | datetime') }}</td>
            <td>{{ vue('item.created_at | datetime') }}</td>
            <td class="action-nav">
                <a :class="{disabled: !item.edit_url}"
                   :href="item.edit_url"
                   data-title="{{ trans('messages.edit') }}"
                   @click.stop v-tooltip>
                    <i class="icon-edit"></i>
                </a>
            </td>
        {% endblock %}
    {% endembed %}
{% endblock %}
